<!--{template common/header}-->
<!--[name]艺佰城市2 - 分类[/name]-->
<!--{eval $list = array();}-->
<!--{eval $wheresql = category_get_wheresql($cat);}-->
<!--{eval $list = category_get_list($cat, $wheresql, $page);}-->
<style id="diy_style" type="text/css"></style>
<style>
body{ background:#FFF;}
</style>
<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>
<!--广告--><div class="banner"><a href="#"><img src="template/yibai_city2/style/b1.png" /></a></div><!--广告end-->

<!--正文内容一-->
<div class="yb_mone">
 <div class="yb_monem">

   <div class="yb_momdiv">
   
     <div class="momdiv_tit"><span class="sa1"></span>房产</div>
     <div class="momdiv_bot">
     <!--[diy=diyfenlei01]--><div id="diyfenlei01" class="area"></div><!--[/diy]-->
      
     </div>
     <div class="momdiv_tit"><span class="sa5"></span>汽车</div>
     <div class="momdiv_bot">
     <!--[diy=diyfenlei02]--><div id="diyfenlei02" class="area"></div><!--[/diy]-->
      
     </div>
     <div class="momdiv_tit"><span class="sa8"></span>宠物</div>
     <div class="momdiv_bot">
     <!--[diy=diyfenlei03]--><div id="diyfenlei03" class="area"></div><!--[/diy]-->
     
     </div>
     
   </div>
   
   <div class="yb_momdiv">
   
     <div class="momdiv_tit"><span class="sa2"></span>招聘</div>
     <div class="momdiv_bot">
     <!--[diy=diyfenlei04]--><div id="diyfenlei04" class="area"></div><!--[/diy]-->
      
     </div>
     
     <div class="momdiv_tit"><span class="sa9"></span>汽车服务</div>
     <div class="momdiv_bot">
     <!--[diy=diyfenlei05]--><div id="diyfenlei05" class="area"></div><!--[/diy]-->
      
     </div>
     
   </div>
   
   <div class="yb_momdiv">
   
     <div class="momdiv_tit"><span class="sa3"></span>求职简历</div>
     <div class="momdiv_bot">
     <!--[diy=diyfenlei06]--><div id="diyfenlei06" class="area"></div><!--[/diy]-->
      
     </div>
     <div class="momdiv_tit"><span class="sa6"></span>兼职</div>
     <div class="momdiv_bot">
     <!--[diy=diyfenlei07]--><div id="diyfenlei07" class="area"></div><!--[/diy]-->
      
     </div>
     <div class="momdiv_tit"><span class="sa10"></span>教育培训</div>
     <div class="momdiv_bot">
     <!--[diy=diyfenlei08]--><div id="diyfenlei08" class="area"></div><!--[/diy]-->
       
     </div>
     
   </div>
   
   <div class="yb_momdiv">
   
     <div class="momdiv_tit"><span class="sa4"></span>跳骚市场</div>
     <div class="momdiv_bot">
     <!--[diy=diyfenlei09]--><div id="diyfenlei09" class="area"></div><!--[/diy]-->
      
     </div>
     <div class="momdiv_tit"><span class="sa7"></span>本地生活</div>
     <div class="momdiv_bot">
     <!--[diy=diyfenlei10]--><div id="diyfenlei10" class="area"></div><!--[/diy]-->
    
     </div>
     <div class="momdiv_tit"><span class="sa11"></span>交友</div>
     <div class="momdiv_bot">
     <!--[diy=diyfenlei11]--><div id="diyfenlei11" class="area"></div><!--[/diy]-->
      
     </div>
     
   </div>
  
 </div>
</div>
<!--正文内容一end-->

<!--小广告位-->
<div class="smbanner">
  <!--[diy=diyfenlei12]--><div id="diyfenlei12" class="area"></div><!--[/diy]-->
 
</div>
<!--小广告位end-->

<!--品牌商机推荐-->
<div class="yb_tuij">

    <!--[diy=diyfenleis13]--><div id="diyfenleis13" class="area"></div><!--[/diy]-->

 
</div>
<!--品牌商机推荐end-->

<!--常用工具-->
<div class="yb_changy">
  <div class="changy_t">常用工具</div>
  <div class="changy_b">
  
    <div class="changy_bdiv">
      <span>休闲娱乐</span>
      <div class="changy_bdiv_b">
      <!--[diy=diyfenlei13]--><div id="diyfenlei13" class="area"></div><!--[/diy]-->
       
      </div>
    </div>
    
    <div class="changy_bdiv">
      <span>金融理财</span>
      <div class="changy_bdiv_b">
         <!--[diy=diyfenlei14]--><div id="diyfenlei14" class="area"></div><!--[/diy]-->
      
      </div>
    </div>
    
    <div class="changy_bdiv">
      <span>游戏大全</span>
      <div class="changy_bdiv_b">
         <!--[diy=diyfenlei15]--><div id="diyfenlei15" class="area"></div><!--[/diy]-->
        
      </div>
    </div>
    
    <div class="changy_bdiv">
      <span>便民服务</span>
      <div class="changy_bdiv_b">
         <!--[diy=diyfenlei16]--><div id="diyfenlei16" class="area"></div><!--[/diy]-->
        
      </div>
    </div>
    
    <div class="changy_bdiv">
      <span>联系我们</span>
      <div class="changy_bdiv_b">
         <!--[diy=diyfenlei17]--><div id="diyfenlei17" class="area"></div><!--[/diy]-->
        
      </div>
    </div>
    
  </div>
</div>
<!--常用工具end-->

<!--友情链接-->
<div class="yb_changy">
  <div class="changy_t">友情链接</div>
  <div class="links_b">
     <!--[diy=diyfenlei18]--><div id="diyfenlei18" class="area"></div><!--[/diy]-->
 
  </div>
</div>
<!--友情链接end-->

<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script>
<!--{template common/footer}-->
